<%- include('partials/header') %>
<nav>
    <div>
        <i class="fas fa-key fa-2x"></i>
        <span>Secrets</span>
    </div>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Sign Up</li>
    </ul>
    
    

</nav>
<div class="layout">
    <div class="contain">
        <i class="fas fa-key fa-4x"></i>
        <h1>Secrets</h1>
        <p>Don't keep your secrets, share them anonymously</p>
        <a href="/register">
            <button class="reg">Register</button>
        </a>
        <a href="/login">
            <button class="log">Login</button>
        </a>
      
    </div>

  
</div>



<%- include('partials/footer') %>